@use '../../../sass/abatracts/' as *;

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: var(--primary-color);
    text-align: center;
    z-index: 999;
  }
  
  .footer-text{
    margin:0;
  }