$table-breakpoint: 480px;
$portfolio-bar-height: 50px;
$large-screen-breakpoint: 1200px;
$empty-container-add-btn-color:#074b83;
$footer-height: 35px;

// auth page
$authPageBackground: aqua;

//authForm
$authFormBackground: white;
$authFormMaxWidth: 600px;
$authFormPadding: 30px;
