@use './sass/abatracts' as *;
@use './sass/base' as *;


.add-form {
  margin: 5rem auto;
  padding: 1.5rem;
  width: 90%;
  max-width: 700px;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  .form-group {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }

  .purchase-date {
    label {
      margin-left: 2rem;
    }
  }

  .btn.submit {
    width: 100%;
    padding: 10px;
  }
}

.portfolio-details{
  margin-top: 40px;
}


@media (min-width: $table-breakpoint) {
  .table-container {
    
    .table-container__head {
      font-size: 1.2rem;
    }
  }
  .table {
    th,
    td {
      display: table-cell;
      text-align: center;
    }

    td {
      &:last-child {
        border-bottom: none;
      }

      &:before {
        display: none;
      }
    }
  }
}

@media (min-width: $large-screen-breakpoint) {
  .charts{
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    overflow: auto;
  }

  .add-form{
    padding: 2.5rem; 
  }
}