$table-breakpoint: 480px;
$portfolio-bar-height: 50px;
$large-screen-breakpoint: 1200px;
$empty-container-add-btn-color:#074b83;

// reset
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Light mode
html{
  --background-color: white;
  --text-color:black;
  --navbar-bg-color:#0077b6;
  --primary-color:lightblue;
  --table-bg-color:white;
  --empty-container-head-color:#d8d8d8;
}

// Dark mode 
html[theme="dark"]{
  --background-color: #121212;
  --text-color:#0abca9;
  --navbar-bg-color:#1e1f26;
  --primary-color:#282a35;
  --table-bg-color:#2c303a;
  --empty-container-head-color:#2d2d2d;
}

// Fonts
@font-face {
  font-family: "B-Nazanin";
  src: local("B-Nazanin"), url(./fonts/b-nazanin-regular.ttf) format("truetype");
}

// General
body {
  font-family: B-nazanin;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--background-color);
  color:var(--text-color);

  transition: background-color .15s linear;
}

a{
  text-decoration: none;
}

select{
  color: var(--text-color);
}

option{
  background-color: var(--primary-color);
}


.btn{
  svg{
    vertical-align: sub;
  }
}

.navbar{
  background-color: var(--navbar-bg-color);
  .navbar-brand{
    color: var(--text-color);
  }
}

.table{
  color: var(--text-color);
  background-color: var(--table-bg-color);
}

// Table container
.table-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  cursor: pointer;

  &.empty{
    cursor:default;

  .table-container__head{
    background-color: var(--empty-container-head-color);
  }

  .toggle-btn{
    display: none;
  }

  .add-btn{
    color:$empty-container-add-btn-color;
    
  }
  }



  .table {
    width: 100%;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 10px;
    
    td.operations{
      
      button{
        margin:0 20px;
      }
    }
  }
  
  .add-btn{
    color:var(--text-color);
  }
  .toggle-btn {
    position: absolute;
    cursor: pointer;
    margin-left: 1rem;
    left: 0;
    font-size: 16px;
    transition: transform ease-in-out 0.2s;
  }
}

.table-container__head {
  display: flex;
  position: relative;
  background: var(--primary-color);
  justify-content: space-between;
  padding: 0.2rem 1rem;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
  
  border-radius: 10px;
  font-size: .95rem;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;

    a,span,svg{
      vertical-align: sub;
    }
  }

  .value-info {
    margin-right: 10px;
  }
  
  &.active{
    .toggle-btn{
      transform: rotate(180deg);
    }
  }
}

.container__head-info {
  width:350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .title{
    white-space: nowrap;
    text-align: right;
    color: var(--text-color);
  }
}

.history-info {
  .styled-value {
    display: flex;
    justify-content: flex-start;
  }
  .filter-bar{
    display: flex;

    .filter{
      margin-left:25px;
    }
  }
}

.asset-detail{
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 10px;
  color: var(--text-color);

  .asset-detail__header {
      padding: 10px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background-color: var(--primary-color); 
      color: var(--text-color);
    .label {
      margin-left: 10px;
    }
  }
  
  .asset-detail__body{
    background-color: var(--table-bg-color);
    color: var(--text-color);
  }
}

.styled-value {
  span {
    margin-left: 5px;
  }

  span,svg{
    vertical-align: sub;
  }
}

.add-form {
  margin: 5rem auto;
  padding: 2.5rem;
  max-width: 700px;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  .form-group {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }

  .purchase-date {
    label {
      margin-left: 2rem;
    }
  }

  .btn.submit {
    width: 100%;
    padding: 10px;
  }
}

//toggle switch
.toggle-switch{
  position: relative;
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  cursor:pointer;
  
  
  &:after{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    left:0;
    top: 0;
    bottom: 0;
    transition: .4s; 
  }
  
  &.active:after{
    transform: translate(100%);
  }
}

//chart
.charts{
  display: flex;
  padding: 40px 0;
  flex-flow: column wrap;
  width: 90%;
  justify-content: center;
  margin:0 auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  overflow-x: auto;
}

.chart-empty-message{
  margin: 0 auto;
  text-align: center;
}

.chartWrapper {
  overflow-x: auto;
  margin:auto 0; 
}

.recharts-wrapper{
  margin: auto;
}

// portfolio
.portfolio{
  padding: 2rem;
  background-color: navy;
  margin: 50px auto;
  width: 80%;
  border-radius: 20px;
}

.portfolio__quota-bar {
  display: flex;
  direction: ltr;

  .quota{
      position: relative;
      height: $portfolio-bar-height;
      margin-left: .5rem;
      text-align: center;
      line-height: $portfolio-bar-height;

      &:first-child{
        margin-left: 0;
      }

      &:last-child:after{
        display: none;
      }

      &:first-child:before{
        display:none;
      }

      &:after{
      content: "";
      position: absolute;
      top: 0;
      right: -$portfolio-bar-height/2;
      border-radius: 100%;
      height: 100%;
      width: $portfolio-bar-height;
      background-color: white;
      }

      &:before{
      content: "";
      position: absolute;
      top: 0;
      left: -$portfolio-bar-height/2;
      width: $portfolio-bar-height;
      height: 100%;
      border-radius: 100px;

      background-color: inherit;
      }
  }
}

.portfolio-details{
  margin-top: 40px;
  
}

.portfolio__operations{
  margin-top: 30px;
  .link{
    padding:1rem;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color:black;
  }
  
}

//footer
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  text-align: center;
  z-index: 999;
}

.footer-text{
  margin:0;
}


//modal
.modal-content{
  background-color: var(--primary-color);
}

// responsive table
.table-wrapper{
  border:none !important;
}
.table {
  overflow-x: auto;
  
  th,
  td {
    text-align: right;
    white-space: nowrap;
    vertical-align: sub;
  }

  th {
    display: none;
  }

  td {
    display: block;

    &.row-number{
      width: 50px;
    }

    &:first-child {
      background-color: var(--primary-color);
    }

    &:last-child {
      border-bottom: 1px solid grey;
    }

    &:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
    }
  }
}

@media (min-width: $table-breakpoint) {
  .table-container {
    margin-bottom: 14px;
    .table-container__head {
      font-size: 1.2rem;
    }
  }
  .table {
    th,
    td {
      display: table-cell;
      text-align: center;
    }

    td {
      &:last-child {
        border-bottom: none;
      }

      &:before {
        display: none;
      }
    }
  }
}

@media (min-width: $large-screen-breakpoint) {
  .charts{
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    overflow: auto;
  }
}