@use './abatracts/' as *;

// reset
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  // Light mode
html{
    --background-color: white;
    --text-color:black;
    --navbar-bg-color:#0077b6;
    --primary-color:lightblue;
    --secondary-color:white;
    --empty-container-head-color:#d8d8d8;
  }
  
  // Dark mode 
  html[theme="dark"]{
    --background-color: #121212;
    --text-color:#0abca9;
    --navbar-bg-color:#1e1f26;
    --primary-color:#282a35;
    --secondary-color:#2c303a;
    --empty-container-head-color:#2d2d2d;
  }
  
  // Fonts
  @font-face {
    font-family: "B-Nazanin";
    src: local("B-Nazanin"), url(../fonts/b-nazanin-regular.ttf) format("truetype");
  }

  
  // General
body {
    font-family: B-nazanin;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color:var(--text-color);
    transition: background-color .15s linear;
    margin-bottom: $footer-height + 10px;
  }
  
  a{
    text-decoration: none;
  }
  
  select{
    color: var(--text-color);
  }
  
  option{
    background-color: var(--primary-color);
  }
  
  
  .btn{
    svg{
      vertical-align: sub;
    }
  }


  //scrollbar
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  // Toast messages
.Toastify__toast{
  color: white;
  font-size: 1rem;
  &--success{
    background-color: #7DB46CFF;
  }
  &--info{
    background-color: #54c7ec;

  }
}